<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="fullTextIndex" type="ASC.FullTextIndex.Service.Cfg.TextIndexCfgSectionHandler, ASC.FullTextIndex.Service"/>
  </configSections>


  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <clear />
    <add name="core" connectionString="Server=teamlab;Database=Test;UserID=dev;Pwd=dev;pooling=True;Character Set=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>


  <fullTextIndex changedCron="0 * * ? * *" removedCron="0 0/2 * ? * *" delay="0" indexPath="">
    <modules>
      <add name="Blogs" connectionStringName="core">
        <![CDATA[
        select id, concat_ws(' ', title, content, (select group_concat(t.name) from blogs_tags t where t.tenant = p.tenant and t.post_id = p.id)), 1 from blogs_posts p where LastModified >= @lastModified and Tenant = @tenant
        ]]>
      </add>
      <add name="News" connectionStringName="core">
        <![CDATA[
        select id, concat_ws(' ', caption, text, (select group_concat(v.name) from events_pollvariant v where v.poll = f.id)), 1 from events_feed f where LastModified >= @lastModified and Tenant = @tenant
        ]]>
      </add>
      <add name="Bookmarks" connectionStringName="core">
        <![CDATA[
        select BookmarkID, concat_ws(' ', (select k.URL from bookmarking_bookmark k where k.ID = b.BookmarkID), Name, Description, (select group_concat(t.Name) from bookmarking_userbookmarktag bt, bookmarking_tag t where bt.TagID = t.TagID and bt.UserBookmarkID = b.UserBookmarkID)) from bookmarking_userbookmark b where LastModified >= @lastModified and Tenant = @tenant
        ]]>
      </add>
      <add name="Wiki" connectionStringName="core">
        <![CDATA[
        select PageName, concat_ws(' ', PageName, Body, (select group_concat(h.Body) from wiki_pages_history h where h.PageName = p.PageName and h.Tenant = p.Tenant)), 1 from wiki_pages p where LastModified >= @lastModified and Tenant = @tenant
        ]]>
      </add>
      <add name="Forum" connectionStringName="core">
        <![CDATA[
              select cast(id as char), concat_ws(' ', title, (select group_concat(q.name) from forum_question q where q.tenantid = t.tenantid and q.topic_id = t.id), (select group_concat(tag.name) from forum_tag tag, forum_topic_tag tt where tag.id = tt.tag_id and tt.topic_id = t.id)), 0 from forum_topic t where LastModified >= @lastModified and tenantid = @tenant
        union all select concat(cast(id as char), 'p/', cast(topic_id as char)), text, 1 from forum_post where LastModified >= @lastModified and tenantid = @tenant
        ]]>
      </add>
      <add name="Projects" connectionStringName="core">
        <![CDATA[
              select cast(id as char), concat_ws(' ', title, description), 0 from projects_projects where last_modified_on >= @lastModified and tenant_id = @tenant
        union all select concat(cast(id as char), 's/', cast(project_id as char)), title, 0 from projects_milestones where last_modified_on >= @lastModified and tenant_id = @tenant
        union all select concat(cast(id as char), 't/', cast(project_id as char)), concat_ws(' ', title, description, (select concat(u.LastName, ' ', u.FirstName) from core_user u where u.Id = t.responsible_id)), 0 from projects_tasks t where last_modified_on >= @lastModified and tenant_id = @tenant
        union all select concat(cast(id as char), 'm/', cast(project_id as char)), concat_ws(' ', title, content), 1 from projects_messages where last_modified_on >= @lastModified and tenant_id = @tenant
        ]]>
      </add>
      <add name="Files" connectionStringName="core">
        <![CDATA[
              select cast(f.id as char), concat_ws(' ', replace(f.title, '.', ' '), (select left(b.body, 1024) from files_filetext b where b.tenant_id = f.id and b.id = f.id)) from files_file f where f.tenant_id = @tenant and f.modified_on >= @lastModified and f.current_version = 1
        union all select concat('d', cast(id as char)), replace(title, '.', ' ') from files_folder where tenant_id = @tenant and modified_on >= @lastModified
         ]]>
      </add>
    </modules>
  </fullTextIndex>


  <system.serviceModel>
    <services>
      <service name="ASC.FullTextIndex.Service.TextSearcherService" behaviorConfiguration="TextSearcherServiceBehavior">
        <endpoint address="net.tcp://localhost:9866/teamlabSearcher" binding="netTcpBinding" contract="ASC.FullTextIndex.ITextIndexService"/>
        <endpoint address="net.pipe://localhost/teamlabSearcher" binding="netNamedPipeBinding" contract="ASC.FullTextIndex.ITextIndexService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TextSearcherServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


  <log4net>
    <root>
      <level value="DEBUG" />
    </root>

    <logger name="ASC.SQL">
      <appender-ref ref="LogFile"/>
    </logger>
    <logger name="ASC.FullTextIndex">
      <appender-ref ref="LogFile"/>
      <appender-ref ref="Console"/>
    </logger>

    <appender name="Console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date{HH:mm:ss.fff} %logger{1}: %message%newline" />
      </layout>
    </appender>
    <appender name="LogFile" type="log4net.Appender.FileAppender, log4net">
      <file value="ASC.FullTextIndex.log" />
      <appendToFile value="true" />
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date %thread %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>