/*******************************************************************************
        Import Widget
*******************************************************************************/
#files_import_container
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#files_import_container li
{
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}
#files_import_container li:hover
{
    cursor: pointer;
    text-decoration: none;
}
#files_import_container li.import_from_boxnet
{
    background: url("images/import_from_box-net_small.png") no-repeat scroll 0 center transparent;
}
#files_import_container li.import_from_google
{
    background: url("images/import_from_google_small.png") no-repeat scroll 0 center transparent;
}
#files_import_container li.import_from_zoho
{
    background: url("images/import_from_zoho_small.png") no-repeat scroll 0 center transparent;
}

/*******************************************************************************
        Import Table
*******************************************************************************/
table.fl-tablebase
{
    border-collapse: collapse;
    width: 100%;
}
table.fl-tablebase thead td
{
    color: #82878D;
    font-size: 12px;
}
table.fl-tablebase tbody td
{
    border-left: none;
    border-right: none;
    vertical-align: middle;
}
table.fl-tablebase tbody td div.import_title
{
    width: 560px;
    overflow: hidden;
}
table.fl-tablebase tbody td div.import_author
{
    width: 120px;
    overflow: hidden;
}
#ImportDialogTemp table.fl-tablebase td
{
    padding: 4px;
}
div.import_data_table
{
    height: 300px;
    overflow: auto;
    padding: 8px 10px;
}
.import_data_check, .import_head_check
{
    width: 30px;
    text-align: center;
}
.import_data_check input, .import_head_check input
{
    cursor: pointer;
}
.import_data_author
{
    width: 125px;
}
.import_data_date, .import_head_date
{
    width: 90px;
    text-align: center;
}
#import_to_folder
{
    padding: 8px 0;
}
a.import_tree
{
    background: url("images/tree.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}
/*******************************************************************************
   Import Panel
*******************************************************************************/
#LoginDialogTemp .containerBodyBlock > div
{
    margin-bottom: 15px;
}
#LoginDialogTemp .containerBodyBlock input
{
    width: 350px;
}
#ImportDialogTemp .import_progress_panel
{
    width: 550px;
    float: right;
    position: relative;
    top: -10px;
}
div.import_progress_min
{
    width: 160px;
    margin: -1px 0;
}
div.files_minimize_uploader
{
    background-color: #3186AF;
    height: 2px;
    line-height: 2px;
}
.studioFileUploaderProgressBorder
{
    border: solid 1px #787878;
    background-color: #ffffff;
    height: 8px;
    line-height: 8px;
    font-size: 1px;
    margin-top: 2px;
}
#files_import_container div.studioFileUploaderProgressBorder, #files_import_container div.studioFileUploaderProgressBar
{
    line-height: 1px !important;
    height: 1px !important;
    width: 150px;
}
* + html div.studioFileUploaderProgressBar
{
    z-index: 190;
    max-width: 507px;
}