<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="storage" type="ASC.Data.Storage.Configuration.StorageConfigurationSection, ASC.Data.Storage"/>
		<section name="consumers" type="ASC.Thrdparty.Configuration.ConsumerConfigurationSection, ASC.Thrdparty"/>
	</configSections>
	<system.data>
		<DbProviderFactories>
			<clear/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Products\Community\bin;Products\Community\Modules\Blogs\bin;Products\Community\Modules\Forum\bin;Products\Community\Modules\News\bin;Products\Community\Modules\PhotoManager\bin;Products\Community\Modules\Wiki\bin;Products\Community\Modules\Bookmarking\bin;Products\Projects\bin;Products\Files\bin;addons\talk\bin;"/>
		</assemblyBinding>
	</runtime>
	<appSettings file="web.appsettings.config"/>
	<connectionStrings configSource="web.connections.config"/>
	<log4net configSource="web.log4net.config"/>
	<storage configSource="web.storage.config"/>
	<consumers configSource="web.consumers.config"/>
	<system.web>
		<!-- set max request size 2GB for ASP.NET -->
		<httpRuntime executionTimeout="3600" maxRequestLength="2097151"/>
		<pages enableViewStateMac="false" validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
			</controls>
		</pages>
		<authentication mode="None"/>
		<customErrors mode="RemoteOnly" defaultRedirect="servererror.aspx">
			<error statusCode="404" redirect="error404.aspx"/>
		</customErrors>
		<compilation debug="true" batch="true" targetFramework="4.0"/>
		<httpModules>
			<add name="UploadProgress" type="ASC.Web.Controls.FileUploader.HttpModule.UploadProgressModule, ASC.Web.Controls"/>
			<add name="HttpContextDispose" type="ASC.Common.Web.DisposableHttpContextHttpModule, ASC.Common"/>
		</httpModules>
		<httpHandlers>
			<add verb="POST,GET" path="template.ashx" type="ASC.Web.Studio.HttpHandlers.TemplatingHandler, ASC.Web.Studio"/>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
			<add verb="POST,GET" path="ajaxupload.ashx" type="ASC.Web.Studio.HttpHandlers.AjaxFileUploadHandler"/>
			<add verb="POST,GET" path="UploadProgress.ashx" type="ASC.Web.Controls.FileUploader.HttpModule.UploadProgressHandler, ASC.Web.Controls"/>
			<add verb="POST,GET" path="fckuploader.ashx" type="ASC.Web.Studio.HttpHandlers.FCKEditorFileUploadHandler, ASC.Web.Studio"/>
		</httpHandlers>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-US" uiCulture="en-US"/>
	</system.web>
	<system.web.extensions>
		<scripting>
			<scriptResourceHandler enableCaching="true" enableCompression="true"/>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="UploadProgress"/>
			<remove name="HttpContextDispose"/>
			<add name="UploadProgress" type="ASC.Web.Controls.FileUploader.HttpModule.UploadProgressModule, ASC.Web.Controls"/>
			<add name="HttpContextDispose" type="ASC.Common.Web.DisposableHttpContextHttpModule, ASC.Common"/>
		</modules>
		<handlers>
			<remove name="Reso"/>
			<remove name="UpProgress"/>
			<remove name="AjaxPro"/>
			<remove name="Template"/>
			<remove name="AjaxUp"/>
			<remove name="FCKUp"/>
			<add name="Reso" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="UpProgress" verb="POST,GET" path="UploadProgress.ashx" type="ASC.Web.Controls.FileUploader.HttpModule.UploadProgressHandler, ASC.Web.Controls"/>
			<add name="AjaxPro" verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
			<add name="Template" verb="POST,GET" path="template.ashx" type="ASC.Web.Studio.HttpHandlers.TemplatingHandler, ASC.Web.Studio"/>
			<add name="AjaxUp" verb="POST,GET" path="ajaxupload.ashx" type="ASC.Web.Studio.HttpHandlers.AjaxFileUploadHandler, ASC.Web.Studio"/>
			<add name="FCKUp" verb="POST,GET" path="fckuploader.ashx" type="ASC.Web.Studio.HttpHandlers.FCKEditorFileUploadHandler, ASC.Web.Studio"/>
		</handlers>
		<!-- set max request size 2GB for IIS 7 -->
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648"/>
				<denyUrlSequences>
					<add sequence=".."/>
				</denyUrlSequences>
			</requestFiltering>
		</security>
		<caching>
			<profiles>
				<add extension=".ashx" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="00:01:00"/>
				<add extension=".axd" policy="DontCache" kernelCachePolicy="CacheForTimePeriod" duration="00:30:00"/>
			</profiles>
		</caching>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<client>
			<endpoint address="net.tcp://localhost:9865/teamlabJabber" binding="netTcpBinding" contract="ASC.Core.Notify.Jabber.IJabberService"/>
			<endpoint address="net.tcp://localhost:9866/teamlabSearcher" binding="netTcpBinding" contract="ASC.FullTextIndex.ITextIndexService"/>
		</client>
	</system.serviceModel>
</configuration>
