<?xml version="1.0"?>
<connectionStrings>
  <add name="core"        connectionString="Data Source=|DataDirectory|\..\service\core.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite"/>
  <add name="webstudio"   connectionString="Data Source=|DataDirectory|\App_Data\WebStudio\webstudio.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite"/>
  <add name="webstat"     connectionString="Data Source=|DataDirectory|\App_Data\WebStudio\webstatistic.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite"/>

  <add name="forum"       connectionString="Data Source=|DataDirectory|\Products\Community\Modules\Forum\App_Data\ASC.Forum.Database.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite"/>
  <add name="bookmarking" connectionString="Data Source=|DataDirectory|Products\Community\Modules\Bookmarking\App_Data\BookmarkingDB\bookmarking.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite"/>
  <add name="blogs"       connectionString="Data Source=|DataDirectory|\Products\Community\Modules\Blogs\App_Data\ASC.Blogs.Data.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite"/>
  <add name="news"        connectionString="Data Source=|DataDirectory|\Products\Community\Modules\News\App_Data\feeds.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite"/>
  <add name="photo"       connectionString="Data Source=|DataDirectory|\Products\Community\Modules\PhotoManager\App_Data\images.db3;Version=3;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite"/>
  <add name="wiki"        connectionString="Data Source=|DataDirectory|\Products\Community\Modules\Wiki\App_Data\wiki.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite"/>

  <add name="projects"    connectionString="Data Source=|DataDirectory|\Products\Projects\App_Data\ASC.Projects.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite"/>
  <add name="files"       connectionString="Data Source=|DataDirectory|\Products\Files\App_Data\ASC.Files.db3;Version=3;binaryGuid=false;FailIfMissing=True;Journal Mode=Persist;Pooling=True" providerName="System.Data.SQLite"/>
</connectionStrings>
