<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="asc.core.tenants.base-domain" value="localhost" /> 
  <add key="WorkMode" value="not-develop"/>
  <add key="webitems" value="community,news,blogs,forum,photomanager,bookmarking,wiki;projects,milestones,tasks,messages,tmdocs,timetracking,projectsettings,history,projectteam;files;talk"/>

  <add key="stat.trackurl" value="https://track.teamlab.com/stat/onepixel.gif?src=sourceforge&amp;"/>
  <add key="stat.enable" value="true"/>

  <add key="enabledcultures" value="en-US,en-GB,de-DE,fr-FR,it-IT,es-ES,lv-LV,ru-RU"/>

  <add key="asc.common.machinekey" value="Vskoproizvolny Salt par Chivreski"/>
  <add key="authbyemail" value="false"/>

  <add key="NoTenantRedirectURL" value="http://teamlab.com"/>

  <!--tm docs settings-->
  <add key="SupportAllFormats" value="true"/>
  <add key="EnableVersions" value="true"/>
  <add key="EnableShare" value="true"/>
  <add key="EnablePlugin" value="false" />
  <add key="PreviewedImageExtensions" value=".bmp|.gif|.jpeg|.jpg|.png|.ico"/>
</appSettings>
