.whatsNewFilter
{
	margin-bottom: 31px;
}
.whatsNewFilterTitle
{
	font-family: Arial;
	font-size: 18px;
	color: #3C4046;
}

.whatsNewFilterBodyModule
{
	margin: 8px 0 12px -3px;
}

.whatsNewFilterModuleItem, .whatsNewFilterModuleCheck, .whatsNewFilterModule
{
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 15px;
}

.whatsNewFilterModule
{
	margin-right: 15px;
}

.whatsNewFilterModuleItem
{
	font-size: 12px;
	color: #3C4046;
}

.whatsNewFilterModuleAll
{
	float: right;
}

input.whatsNewFilterDateInput
{
	margin: 0px;
	float: left;
	height: 17px;
}

.whatsNewFilterDateImg
{
	float: left;
}

.whatsNewFilterBodyDate
{
	margin: 10px 0 15px 0;
}

.whatsNewCombobox, .whatsNewFilterTypeSelect, .whatsNewFilterDateSelect
{
	width: 163px;
	margin-right: 25px;
	height: 21px;
	border: 1px solid #AFB2B7;
}

.whatsNewFilterTypeSelect
{
	margin: 5px 0px 0px 5px;
}

.whatsNewFilterDateSelect
{
	float: left;
	margin-right: 0px;
}

.whatsNewItem
{
	display: table;
	padding: 15px 0pt 8px 10px;
}

.whatsNewItemAgo
{
	border-top: 1px solid #D7D8DC;
	padding: 30px 0 10px 25px;
}

.whatsNewItemAgoFirst
{
	padding: 0 0 10px 25px;
}

.whatsNewDateIntervalLabel
{
	float: left;
	margin: 3px 5px 0px 0px;
	text-align: right;
	width: 30px;
}
