.tintMedium
{
    background-color:#FAF4F2;
}

#studioFooter
{
    background: #353535 url('imgcss/footer_bg.gif') bottom repeat-x;
}
span.footerCopyright,
.footerMenu
{
    color:#B9B3B5 !important;
}

#linkAllProjectsCombobox, #linkAllProjectsCombobox:visited
{
    color:#F4E2E2 !important;
}