<?xml version="1.0" encoding="utf-8" ?>
<Module ID="9D51954F-DB9B-4aed-94E3-ED70B914E101"
        Category="Community"
        NameResourceKey="AddonName"
        SortOrder="3"
        ThemesFolderVirtualPath="~/products/community/modules/photomanager/app_themes"
        DescriptionResourceKey="AddonDescriptionResourceKey"
        ImageFolder="photomanagerimages"
        ResourceClassTypeName="ASC.PhotoManager.Resources.PhotoManagerResource, ASC.PhotoManager"
        SmallIconFileName="photo_small.png"
		    IconFileName="photo_icon.png"
        ShortcutProviderFullTypeName="ASC.Web.Community.PhotoManager.PhotoManagerShortcutProvider, ASC.Web.Community.PhotoManager"
        GlobalHandlerFullTypeName="ASC.Web.Community.PhotoManager.PhotoManagerGlobalHandler, ASC.Web.Community.PhotoManager"
        SearchHandlerFullTypeName="ASC.Web.Community.PhotoManager.PhotoManagerSearchHandler, ASC.Web.Community.PhotoManager"
        SubscriptionManagerFullTypeName="ASC.Web.Community.PhotoManager.PhotoManagerSubscriptionManager, ASC.Web.Community.PhotoManager"
        StatisticProviderFullTypeName="ASC.Web.Community.PhotoManager.PhotoStatisticProvider, ASC.Web.Community.PhotoManager" 
        UserActivityPublisherFullTypeName="ASC.PhotoManager.Helpers.PhotoUserActivityPublisher, ASC.PhotoManager"
		AuthCategoriesProviderFullTypeName="ASC.Web.Community.PhotoManager.PhotoManagerAuthCategoriesProvider, ASC.Web.Community.PhotoManager">

  <MainWidget ID="A5C1E3B9-D639-4fd1-A29A-2B97CB4E58E4"
              NameResourceKey="AddonName"
              DescriptionResourceKey="WidgetDescriptionResourceKey"
              WidgetVirtualURL="~/products/community/modules/photomanager/default.aspx"
              FullTypeName="ASC.Web.Community.PhotoManager.PhotoManagerLastPhoto, ASC.Web.Community.PhotoManager"
              SettingsProviderFullTypeName="ASC.Web.Community.PhotoManager.Common.PhotoManagerWidgetSettingsProvider, ASC.Web.Community.PhotoManager"
              ImageFileName="photo_icon.png"/>

  <GetCreateContentPageAbsoluteUrlMethod MethodName="GetCreateContentPageUrl" ClassType="ASC.Web.Community.PhotoManager.PhotoManagerShortcutProvider, ASC.Web.Community.PhotoManager"/>

  <Shortcuts>
    
    <Shortcut ID="1E16B64A-DBAF-40e8-86AB-A116AE12E949"
              Type="Navigation"
              RefName="PhotoList"
              NameResourceKey="MainPageMenuTitle"
              ActionURL="~/products/community/modules/photomanager/"
              ImageFileName="home.png" />
    
    <Shortcut ID="4367C1B3-9F22-41a9-9CF1-DDCC612AFEE0"
              Type="Navigation"
              RefName="MyPhotos"
              NameResourceKey="MyPhotoTitle"
              ActionURL="~/products/community/modules/photomanager/photo.aspx"/>

    <Shortcut ID="66308582-DAEC-4112-8CF1-F0610C44447F"
              RefName="LastCommented"
              Type="Navigation"
              NameResourceKey="LastCommentedTitle"
              ActionURL="~/products/community/modules/photomanager/lastcommented.aspx"/>
    
    <Shortcut ID="CDE7CBAF-98A6-4228-902F-A690DA89B763"
              RefName="PhotoUpload"
              Type="Action"
              NameResourceKey="UploadPhotoTitle"
              ActionURL="~/products/community/modules/photomanager/addphoto.aspx"              
              IsProtected="true" />
    
  </Shortcuts>

  <MainShortcutCategory ID="49CF5A09-2459-4064-9E4B-D049D5370995"
                        StartURL="~/products/community/modules/photomanager/"
                        NameResourceKey="AddonName">

    <NavigationShortcuts>
      <NavigationShortcut RefName="PhotoList"/>
      <NavigationShortcut RefName="MyPhotos"/>
      <NavigationShortcut RefName="LastCommented"/>
      <NavigationShortcut RefName="PhotoUpload"/>
    </NavigationShortcuts>

    <CreateShortcuts>
      <CreateShortcut RefName="PhotoUpload"/>
    </CreateShortcuts>
    
  </MainShortcutCategory>
  
  <UserProfileShortcut RefName="PhotoProfile"/>
  
</Module>