<configuration>
	<configSections>
		<section name="wikiSettings" allowLocation="true" allowDefinition="Everywhere" type="ASC.Web.UserControls.Wiki.Handlers.WikiSection, ASC.Web.UserControls.Wiki"/>
	</configSections>
	<system.web>
		<httpHandlers>
			<add verb="POST,GET" path="WikiFile.ashx" type="ASC.Web.UserControls.Wiki.Handlers.WikiFileHandler, ASC.Web.UserControls.Wiki"/>
		</httpHandlers>
		<compilation targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<wikiSettings>
		<dbase connectionStringName="wiki"/>
		<imageHangler urlFormat="~/Products/Community/Modules/Wiki/WikiFile.ashx?file={0}"/>
		<fckeditorInfo pathFrom="../../../../../Products/Community/Modules/Wiki/WikiUC/" baseRelPath="~/UserControls/Common/fckeditor/"/>
		<dataStorage moduleName="wiki" defaultDomain="" tempDomain="temp"/>
	</wikiSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="WikiFileHandler"/>
			<add name="WikFileHandler" verb="POST,GET" path="WikiFile.ashx" type="ASC.Web.UserControls.Wiki.Handlers.WikiFileHandler, ASC.Web.UserControls.Wiki"/>
		</handlers>
	</system.webServer>
</configuration>
