<?xml version="1.0"?>
<consumers>
  <keys>
    <clear/>
    <!-- insert your values -->
    <add name="googleConsumerKey" value="" />
    <add name="googleConsumerSecret" value="" />

    <add name="facebookAppID" value="" />
    <add name="facebookAppSecret" value="" />
    
    <add name="linkedInKey" value="" />
    <add name="linkedInSecret" value="" />
    
    <add name="twitterKey" value="" />
    <add name="twitterSecret" value="" />

    <add name="box.net" value=""/>
    <add name="box.net.framehandler" value=""/>

    <add name="zoho" value=""/>
  </keys>
</consumers>
