<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="ASC.Core.Common"/>
  <namespace name="ASC.Core"/>
  <namespace name="ASC.Core.Data"/>
  <namespace name="ASC.Core.Caching"/>
  <namespace name="ASC.Core.Billing"/>

  <container name="Core">
    <!-- ConnectionString for db services -->
    <instance name="connectionStringName" value="core"
              type="System.Configuration.ConnectionStringSettings, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              typeConverter="ASC.Core.Configuration.ConnectionStringNameTypeConverter, ASC.Core.Common"/>
    
    <!-- CoreContext initialization -->
    <register type="IConfigurationClient" mapTo="ClientConfiguration">
      <constructor>
        <param name="service" dependencyName="CachedTenantService"/>
      </constructor>
    </register>

    <register type="ITenantManagerClient" mapTo="ClientTenantManager">
      <constructor>
        <param name="tenantService" dependencyName="CachedTenantService"/>
        <param name="quotaService" dependencyName="CachedQuotaService"/>
        <param name="tariffService" dependencyName="TariffService"/>
      </constructor>
    </register>

    <register type="IUserManagerClient" mapTo="ClientUserManager">
      <constructor>
        <param name="service" dependencyName="CachedUserService"/>
      </constructor>
    </register>

    <register type="IGroupManagerClient" mapTo="ClientUserManager">
      <constructor>
        <param name="service" dependencyName="CachedUserService"/>
      </constructor>
    </register>

    <register type="IAuthManagerClient" mapTo="ClientAuthManager">
      <constructor>
        <param name="service" dependencyName="CachedUserService"/>
      </constructor>
    </register>

    <register type="IAzManagerClient" mapTo="ClientAzManager">
      <constructor>
        <param name="service" dependencyName="CachedAzService"/>
      </constructor>
    </register>

    <register type="ISubscriptionManagerClient" mapTo="ClientSubscriptionManager">
      <constructor>
        <param name="service" dependencyName="CachedSubscriptionService"/>
      </constructor>
    </register>

    <register type="ASC.Core.Configuration.INotify, ASC.Core.Common" mapTo="ASC.Core.Notify.NotifyImpl, ASC.Core.Common"/>

    
    <!-- Db Services -->
    <register type="ITenantService" mapTo="DbTenantService" name="DbTenantService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
      </constructor>
    </register>

    <register type="IUserService" mapTo="DbUserService" name="DbUserService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
      </constructor>
    </register>

    <register type="IAzService" mapTo="DbAzService" name="DbAzService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
      </constructor>
    </register>

    <register type="IQuotaService" mapTo="DbQuotaService" name="DbQuotaService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
      </constructor>
    </register>

    <register type="ISubscriptionService" mapTo="DbSubscriptionService" name="DbSubscriptionService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
      </constructor>
    </register>

    <!-- Caching services -->
    <register type="ITenantService" mapTo="CachedTenantService" name="CachedTenantService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="service" dependencyName="DbTenantService"/>
      </constructor>
    </register>

    <register type="IUserService" mapTo="CachedUserService" name="CachedUserService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="service" dependencyName="DbUserService"/>
      </constructor>
    </register>

    <register type="IAzService" mapTo="CachedAzService" name="CachedAzService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="service" dependencyName="DbAzService"/>
      </constructor>
    </register>

    <register type="IQuotaService" mapTo="CachedQuotaService" name="CachedQuotaService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="service" dependencyName="DbQuotaService"/>
      </constructor>
    </register>

    <register type="ISubscriptionService" mapTo="CachedSubscriptionService" name="CachedSubscriptionService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="service" dependencyName="DbSubscriptionService"/>
      </constructor>
    </register>

    <register type="ITariffService" mapTo="TariffService" name="TariffService">
      <lifetime type="singleton"/>
      <constructor>
        <param name="connectionString" dependencyName="connectionStringName"/>
        <param name="quotaService" dependencyName="CachedQuotaService"/>
      </constructor>
      <!-- example: -->
      <!-- <property name="CacheExpiration" value="1:00:00"/> -->
    </register>
  </container>
</unity>
