div.quotesBlock div.header 
{
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    margin: 25px 0 0;
    padding: 0 0 5px 15px;
}

div.quotesBlock div.header img
{
    margin-right:5px;    
}

div.quotesBlock .storeUsage
{
    margin-top:20px;
    padding-left:15px;
    padding-bottom:10px;
}

div.quotesBlock .storeUsage .description
{
    color:#9da1a5;
    font-family: Arial;
    font-size: 14px;
    margin-top:5px;
    
}

div.quotesBlock .storeUsage .diskUsage
{
    margin-left:5px;
    color:#e85d11;
}

div.quotesBlock .storeUsage .goBtnBox
{
    margin-top:15px;
}


div.quotesBlock .contentBlock
{
    padding: 10px 15px;
}
    
div.quotesBlock div.information{margin:0; padding:0;}

div.quotesBlock table.information{width:100%; margin:0; padding:0; border-collapse:collapse;}

div.quotesBlock table.information td{margin:0; padding:0px 15px 5px 15px; border-collapse:collapse;}
div.quotesBlock table.information td.name{width:1%; font-size:16px; color:#3C4046; white-space:nowrap;}
div.quotesBlock table.information td.value{width:99%; white-space:nowrap;}

div.quotesBlock table.quotes{width:100%; margin:0; padding:0; border-collapse:collapse;}
div.quotesBlock table.quotes tr{border-left:0; border-right:0; height:40px;}
div.quotesBlock table.quotes tr.describeText{height:12px;}
div.quotesBlock table.quotes td{margin:0; padding:5px 10px; border-collapse:collapse;}
div.quotesBlock table.quotes td.icon{width:1%; padding:5px 0 5px 15px;}
div.quotesBlock table.quotes td.name{width:79%; white-space:nowrap;}
div.quotesBlock table.quotes td.value{width:20%; padding:5px 15px 5px 0; text-align:right; white-space:nowrap;}

div.quotesBlock .moreBox
{
    margin-top:15px;
}

div.quotesBlock .moreBox .linkDescribeMedium
{
    margin-left:15px;
    text-decoration:none;
    border-bottom:dotted 1px #b17e9a;
    
}
