.studioTopNavigationPanel
{
	background-color:#191919;
	border-bottom:solid 5px #3186AF;	
}

.studioTopNavigationPanel .hoverTint
{
	background-color:#E8E9E9;
}

/*-------------------systemSection---------------------*/
.studioTopNavigationPanel .systemSection
{
	padding:5px 0px;
	font-size:11px;
	color:#C5C5C5;
}
.studioTopNavigationPanel .systemSection ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 0 1em;
	padding:0px;
	
}
.studioTopNavigationPanel .systemSection ul li
{
	padding:5px 0px;
}

.studioTopNavigationPanel .systemSection a,
.studioTopNavigationPanel .systemSection a:visited
{
	font-size:11px;
	color:#C5C5C5;
	text-decoration:underline;
}
.studioTopNavigationPanel .systemSection a:hover
{
	text-decoration:none;
}
.studioTopNavigationPanel .systemSection a:active
{
	font-size:11px;
	color:#C5C5C5;
	text-decoration:underline;
}

.studioTopNavigationPanel .systemSection .spacer
{
	padding:0px 10px;
}
.studioTopNavigationPanel .systemSection .userProfileBox
{
	margin-left:8px;
}

.studioTopNavigationPanel .systemSection .userProfileBox a,
.studioTopNavigationPanel .systemSection .userProfileBox a:visited,
.studioTopNavigationPanel .systemSection .userProfileBox a:hover,
.studioTopNavigationPanel .systemSection .userProfileBox a:active
{
	color:#ffffff;
	font-size:12px;
}

.studioTopNavigationPanel .systemSection .itemBox a,
.studioTopNavigationPanel .systemSection .itemBox span.link
{
  background:none left center no-repeat;
  display:inline-block;
  height:16px;
  line-height:16px;
  padding-left:20px;
  text-decoration:none;
  cursor:pointer;
}

.studioTopNavigationPanel .systemSection .itemBox a,
.studioTopNavigationPanel .systemSection .itemBox a:visited,
.studioTopNavigationPanel .systemSection .itemBox a:hover,
.studioTopNavigationPanel .systemSection .itemBox a:active,
.studioTopNavigationPanel .systemSection .itemBox span.link,
.studioTopNavigationPanel .systemSection .itemBox span.link:visited,
.studioTopNavigationPanel .systemSection .itemBox span.link:hover,
.studioTopNavigationPanel .systemSection .itemBox span.link:active
{
	color:#ffffff;
	font-size:12px;
}

.studioTopNavigationPanel .systemSection .itemBox a span,
.studioTopNavigationPanel .systemSection .itemBox span.link span
{
  text-decoration:underline;
}

.studioTopNavigationPanel .systemSection .itemBox a:hover span,
.studioTopNavigationPanel .systemSection .itemBox span.link:hover span
{
  text-decoration:none;
}

.studioTopNavigationPanel .systemSection .myStaffBox,
.studioTopNavigationPanel .systemSection .myStaffActiveBox
{
	padding:5px 25px 5px 10px;
	z-index:100;
	float:right;	
	text-align:center;	
	border:solid 1px #191919;	
	cursor:pointer;
	background-image: url('img/down_arrow_bg.png');
	background-position: right 5px;
	background-repeat: no-repeat;	
}

.studioTopNavigationPanel .systemSection .myStaffActiveBox
{
	
	position:relative;
	background-image: url('img/up_arrow_bg.png');
	background-color:#ffffff;	
	border:solid 1px #8E908F;
	border-bottom:solid 1px #ffffff;	
	z-index:110;
}

.studioTopNavigationPanel .systemSection .myStaffPopupPanel
{
	position:absolute;
	background-color:#ffffff;
	border:solid 1px #8E908F;
	z-index:99;
}

.studioTopNavigationPanel .systemSection .myStaffPopupPanel a.myStaffItem,
.studioTopNavigationPanel .systemSection .myStaffPopupPanel a.myStaffItem:visited,
.studioTopNavigationPanel .systemSection .myStaffPopupPanel a.myStaffItem:hover,
.studioTopNavigationPanel .systemSection .myStaffPopupPanel a.myStaffItem:active
{
	display:block;
	font-size:11px;
	color:#000000;
	padding:2px;
	cursor:pointer;	
	text-decoration:none;
	margin:5px 10px;
}
.studioTopNavigationPanel .systemSection .myStaffPopupPanel a.myStaffItem:hover
{
	background-color:#E8E9E9;	
}
.studioTopNavigationPanel .systemSection .myStaffPopupPanel a.myStaffItem:active
{
	background-color:Transparent;	
}

.studioTopNavigationPanel .systemSection .myStaffBox .myStaff
{	
	font-size:11px;
	color:#C5C5C5;
	text-decoration:none;
	border-bottom:1px dotted #8E908F;
}
.studioTopNavigationPanel .systemSection .myStaffActiveBox .myStaff
{
	font-size:11px;
	color:#444A50;	
	text-decoration:none;
	border-bottom:1px dotted #8E908F;
}

.studioTopNavigationPanel .systemSection .myStaffBox .usrProf
{	
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	border-bottom:1px dotted #ffffff;
}

.studioTopNavigationPanel .systemSection .myStaffActiveBox .usrProf
{
	font-size:12px;
	color:#444A50;	
	text-decoration:none;
	border-bottom:1px dotted #8E908F;
}


/*----------------contentSection-----------------------*/
.studioTopNavigationPanel .contentSection
{
	border-top:solid 1px #87888C;
	background-color:#31363B;
}

/*-------------------info-------------*/
.studioTopNavigationPanel .contentSection .infoBox
{
	padding:12px 0px;
	background-image: url('img/topheader_bg.gif');
	background-position: bottom;
	background-repeat: repeat-x;	
	background-color:#43484D;
	height:33px;
}
.studioTopNavigationPanel .contentSection .infoBox .titleBox
{
	float:left;
	text-decoration:none !important;
	outline: none;
}
.studioTopNavigationPanel .contentSection .infoBox .titleBox img
{
	margin-right:10px;
	border:none;
}
.studioTopNavigationPanel .contentSection .infoBox .titleBox .title
{
	color:#ffffff;
	font-size:28px;	
}


/*--------------------------search-------------*/
.studioTopNavigationPanel .contentSection .infoBox .searchBox
{
	padding-top:6px;
}
.studioTopNavigationPanel .contentSection .infoBox .searchBox .leftSearchPanel
{	
	background-color:#ffffff;
	border:solid 1px #87888c;	
	border-right:none;
	background-image:url('img/topsearch_switch_bg.png');
	background-position:right 3px;
	background-repeat: no-repeat;	
	height:20px;
	width:35px;
	padding:0px;
	cursor:pointer;
	float:left;
}

.studioTopNavigationPanel .contentSection .infoBox .searchBox .singleLeftSearchPanel
{	
	background-color:#ffffff;
	border:solid 1px #87888c;	
	border-right:none;		
	height:20px;
	width:25px;
	padding:0px;	
	float:left;
}

.studioTopNavigationPanel .contentSection .infoBox .searchBox .mainSearchPanel
{	
	background-color:#ffffff;
    margin:0px;
    padding:0px;	
	border:solid 1px #87888c;
	border-left:none;
	height:20px;
	float:left;
}

.studioTopNavigationPanel .contentSection .infoBox .searchBox .textEditMainSearch
{    
	border:solid 0px #8E908F;
    font-family:Tahoma, Arial, sans-serif;
    font-size:12px;
    line-height:12px;
    padding:2px 5px 1px 2px;   
    margin:0px;
	background: #ffffff;	
}
.studioTopNavigationPanel .contentSection .infoBox .searchBox .textEditDefaultSearch
{    
	border:solid 0px #8E908F;
    font-family:Tahoma, Arial, sans-serif;
    color:#9f9f9f;
    font-size:12px;
    line-height:12px;
    padding:2px 5px 1px 2px;   
    margin:0px;
	background: #ffffff;	
}

.studioTopNavigationPanel .contentSection .infoBox .searchBox .mainSearchButton
{   
	vertical-align:top;     
    padding:0px;
    margin-left:2px;  
    width:29px;
    height:22px;
    background-image:url('img/topsearch_button_bg.png');
	background-position:right top;
	background-repeat: no-repeat;
	cursor:pointer;
	float:left;
}

.studioTopNavigationPanel .contentSection .infoBox .searchBox .searchHandlerItem
{
	color:#000000;
	font-weight:normal;
	font-size:11px;
	padding:2px;
	margin-top:4px;
	cursor:pointer;
}

.studioTopNavigationPanel .contentSection .infoBox .searchBox .searchHandlerActiveItem
{
	color:#000000;
	font-size:11px;
	font-weight:bolder;
	padding:2px;
	margin-top:4px;
	cursor:pointer;
}


.studioTopNavigationPanel .contentSection .infoBox .searchBox .switchBox
{
	padding:0px 8px 8px 8px;
	border:solid 1px #8E908F;
	background-color:#ffffff;
}

/*--------------------navigation section-----------------*/
.studioTopNavigationPanel .contentSection .navigationBox
{
	background-color:#31363B;
	padding-top:7px;	
}

.studioTopNavigationPanel .contentSection .navigationBox a.tab,
.studioTopNavigationPanel .contentSection .navigationBox a.tab:visited,
.studioTopNavigationPanel .contentSection .navigationBox a.tab:hover,
.studioTopNavigationPanel .contentSection .navigationBox a.tab:active
{
	color: #ffffff;
	font-size:14px;
	text-decoration: none;
	cursor: pointer;
	margin-right: 3px;
	display:block;
	padding:5px 12px;
	float: left;
	background-image: url('img/tab_bg.png');
	background-position: bottom;
	background-repeat: repeat-x;	
	background-color:#0E6186;
}

.studioTopNavigationPanel .contentSection .navigationBox a.selectedTab,
.studioTopNavigationPanel .contentSection .navigationBox a.selectedTab:visited,
.studioTopNavigationPanel .contentSection .navigationBox a.selectedTab:hover,
.studioTopNavigationPanel .contentSection .navigationBox a.selectedTab:active
{
	color: #ffffff;
	font-size:14px;
	text-decoration: none;
	cursor: pointer;
	margin-right: 3px;
	display:block;
	padding:5px 12px;
	float: left;
	background-image: url('img/tab_selected_bg.png');
	background-position: bottom;
	background-repeat: repeat-x;
	background-color:#3186AF;
}

.belowNavigationPanelClass
{
	background-image: url('img/below_nav_bg.png');
	background-repeat: repeat-x;
	background-color:#3186AF;
	margin: -5px 0 -6px 0;
	height: 45px;
}

.belowNavigationPanelText
{
	padding-top: 11px;
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
	color: #f0ffdd;
}

.menuItemWithSubMenuItems
{
	background-image: url('img/below_nav_bg.png');
	background-position: right 5px;
	background-repeat: no-repeat;
	padding-right:15px;
	float: right;
}

.subMenuItemsPopupBox
{	
	background-color:#0d4e6c;
	border:solid 1px #3186af;
	z-index:110;
	display:none;
	position:absolute;
}

.subMenuItemsPopupBox .subMenuItemsPopupBoxItem, .subMenuItemsPopupBoxItem:visited, .subMenuItemsPopupBoxItem:hover, .subMenuItemsPopupBoxItem:active
{
	display:block;
	font-size:12px;
	color: White;
	padding:2px 7px 2px 7px;
	cursor:pointer;	
	text-decoration:none;
	margin: 5px;
}

.subMenuItemsPopupBox .subMenuItemsPopupBoxItem:hover
{
	background-color: #1f6485;
}